<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/css/estiloProyecto.css">
    <title>Registro</title>
</head>

<body>

    <div class="borde m-3">
        <form class="m-3">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="campoIdPerro">Id del perro</label>
                    <input type="text" class="form-control" id="campoIdPerro" placeholder="idperro">
                </div>
                <div class="form-group col-md-4">
                    <label for="campoNombrePerro">Nombre del perro</label>
                    <input type="text" class="form-control" id="campoNombrePerro" placeholder="Nombre del perro">
                </div>
                <div class="form-group col-md-4">
                    <label for="campoRaza">Raza</label>
                    <input type="text" class="form-control" id="campoRaza" placeholder="Raza">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="campoFecha">Fecha nacimiento</label>
                    <input type="date" class="form-control" id="campoFecha" placeholder="fecha">
                </div>
                <div class="form-group col-md-4">
                    <label for="campoIdDueño">Id dueño</label>
                    <input type="text" class="form-control" id="campoIdDueño" placeholder="Id dueño">
                </div>
                <div class="form-group col-md-4">
                    <label for="campoNombreduenho">Nombre dueño</label>
                    <input type="text" class="form-control" id="campoNombreduenho" placeholder="nombre dueño">
                </div>
            </div>

            <button type="submit" class="btn boton col-md-4 mt-3">Registrar</button>
    </div>
    </div>
    </form>
    </div>
</body>

</html>